@use "assets/scss/mixins";
@import "assets/scss/variables";

.Editor {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid $border-color;
  br {
    display: block;
  }
  &Workspace {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  p {
    margin: 0;
    display: inline-block;
  }

  @include mixins.bubbles;
  @include mixins.atoms;
}
