@import "assets/scss/variables";

.Controls {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9px;
    flex-grow: 1;
    user-select: none;
    cursor: pointer;
  }
  &Button {
    filter: $icon-filter;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      filter: $icon-active;
    }
    &Reversed {
      transform: rotate(180deg);
    }
  }
}

.Readonly {
  pointer-events: none;
}

.Label {
  margin-bottom: 4px;
}
.Wrapper {
}

.Input {
  border-radius: 6px;
}
.Dimmed {
  background-color: $bg-tetriary
}