$shadow: 0 2px 3px 0px rgba(94, 94, 130, 0.12);
$bor: 1px solid #e7e7e7;
$mainC: #FF2E90;
$mainD: #55455d;
$mainT: #2288ff;
$acc: #EAEAEA;
$tr: .2s;
$bg: #f9f9f9;

$type1: #68a702;
$type2: #ca3b13;
$type3: #f58e0e;
$type4: #1083d4;
